*
*/**
**/.DS_Store
!node_modules/ssh2/lib/**/*.js
!node_modules/ssh2/package.json
!node_modules/ssh2/LICENSE
!node_modules/asn1/**/*
!node_modules/bcrypt-pbkdf/**/*
!node_modules/safer-buffer/**/*
!node_modules/tweetnacl/**/*
!dist/extension.js
!dist/extension.js.LICENSE.txt
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!NOTICE.md
!THIRD_PARTY_NOTICES.md
!resources/**/*
!schema/**/*
